# ignoring ctags
src/tags

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# vim ignorance
*.swp

# ignoring hpack output 
plume.cabal

# ignoring ex folder for now, since I 99% of the time don't care about them
ex/
